<header>
    <div>
        <img src="./assets/mainLogo.svg">
    </div>
</header>

<div class="main">
    <img class="mainImg" src="./assets/mainImg.svg" alt="">

    <div class="description">
        Добро пожаловать в "Секретный архив". Здесь вы сможете не только узнать о самых известных методах шифрования, но
        и попробовать свои силы в расшифровке реальных сообщений, которые когда-то решали судьбы сражений. Погрузитесь в
        историю, разгадывайте коды и почувствуйте себя настоящим шифровальщиком!
    </div>

    <button routerLink="/allCodes">
        Начать погружение
    </button>
</div>

<div style="height: 30px"></div>
