<header>
    <div>
        <img style="cursor: pointer" routerLink="/allCodes" src="./assets/backBtn.svg" alt="">
        <img src="./assets/mainLogo.svg">
    </div>

    <div style="display: block; padding-top: 180px" class="nameCode">
        <p>шифр</p><p>атбаш</p>
    </div>
</header>

<div class="main">
    <div class="description">
        Атбаш — это древний моноалфавитный шифр подстановки, где первая буква алфавита заменяется на последнюю, вторая — на предпоследнюю и так далее.
    </div>

    <div style="margin-top: 25px" class="description">
        Этот метод восходит к библейским временам — его использовали ещё древние евреи для зашифровывания слова "Вавилон" в Книге Иеремии, а название "Атбаш" образовано от сочетания первых (Алеф-Тав) и последних (Бет-Шин) букв еврейского алфавита.
    </div>

    <div class="task" style="margin-top: 45px">
        <p class="title-mini">Задание: <span class="description-mini">Расшифруйте высказывание И.В. Сталина</span></p>
    </div>

    <div class="task" style="margin-top: 10px">
        <p class="title-mini">Текст: <span class="description-mini">Сяыр юдмг рзъсг нтъудт зъурэъфрт, змрюд юдмг молнрт э Фоянсрх Яотцц.</span></p>
    </div>

    <img style="margin-top: 37px" src="./assets/atbash.svg" alt="">

    <p style="font-size: 17px; margin-top: 37px">Введите расшифрованное высказывание</p>

    <textarea [(ngModel)]="codeText"></textarea>

    <button (click)="checkText()">ПОПРОБОВАТЬ</button>
</div>

<div style="height: 30px"></div>
